<center>
    <img src="http://i.imgur.com/B2RZT55.png" width="60" height="60" align="top">
    <h1>Task Buddy</h1>
    <p>Thanks for using Task Buddy, your message has been sent!</p>
    
    <p><strong>Your message: </strong></p>
    <%= params[:message] %>
    <p><strong>was sent to: </strong></p> 
    <%= params[:number] %>
    
    <a href="https://task-buddy.herokuapp.com/"><p></p>Home<p/>
    
</center>