<center>
    <img src="http://i.imgur.com/B2RZT55.png" width="60" height="60" align="top">
    <h1>Instant SMS</h1>
    <p>Thanks for using Instant SMS, your message has been sent!</p>
    <p>You may review your message details below.</p>
</center>